.register-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container .content {
  width: 100%;
  padding: 96px;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section {
  width: 100%;
  max-width: 380px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register-container .content section img {
  width: 380px;
}

.register-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-container .content section p {
  font-size: 20px;
  line-height: 28px;
  color: #413E3E;
  text-align: center;
}

.register-container .content section a {
  width: 380px;
}

.register-container .content form {
  width: 100%;
  max-width: 350px;
}

.register-container .content form input {
  border: 2px solid #3F7657;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 8px;
}

.register-container .content form span {
  display: flex;
  color: #FF5757;
  font-size: 14px;
  line-height: 19px;
  margin-top: 3px;
}

.register-container .content form .input-group {
  display: flex;
}

.register-container .content form .input-group input + input {
  margin-left: 8px;
}
