.forgot-password {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password section.form {
  width: 100%;
  max-width: 350px;
}

.forgot-password section.form form p {
  font-size: 24px;
  text-align: center;
}

.forgot-password section.form form img {
  margin-bottom: 39px;
  max-width: 350px;
}

.forgot-password section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.forgot-password section.form form input {
  border: 2px solid #3F7657;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 8px;
}

.forgot-password section.form form span {
  display: flex;
  color: #FF5757;
  font-size: 14px;
  line-height: 19px;
  margin-top: 3px;
}

.forgot-password section.form form .cadastrar-link {
  margin-top: 50px;
  justify-content: center;
  font-size: 18px;
}
